/* Стили для ширины, которая меньше 649px (включительно) 
    Здесь хранятся правила для устройств с маленьким экраном.
    Вертикальная ориентация. 
*/
@media only screen and (max-width: 649px) {
  .hero__portret-orientation--mobile {
    flex-direction: column;
  }

  .hero-description {
    margin-bottom: 30px;

    font-size: 20px;
    line-height: 20px;
  }
}

/* Стили для ширины, которая от 650px до 767px (включительно) 
    Здесь хранятся правила для устройств с маленьким экраном.
    Горизонтальная ориентация. 
*/
@media (min-width: 650px) and (max-width: 767px) {
  .hero__portret-orientation--mobile {
    flex-direction: row;
  }
  
  .hero-title {
    margin-right: 50px;
  }

  .hero-description {
    margin-bottom: 20px;

    font-size: 15px;
    line-height: 15px;
  }
}

/* Стили для ширины, которая меньше 767px (включительно) 
    Здесь хранятся правила, которые совпадают
    и в вертикальной, и в горизонтальной ориентации 
    устройств с маленьким экраном.
*/
@media only screen and (max-width: 767px) {
  .hero,
  .hero__portret-orientation--tablet {
    display: none;
  }
  
  .hero__portret-orientation--mobile {
    display: flex;

    margin: 0 90px;
    padding: 80px 0;
  }

  .hero-title {
    font-size: 50px;
    line-height: 50px;
  }

  .hero-description {
    padding: 45px 0 25px;
  }

  .hero-details {
    font-size: 13px;
  }
}

/* Стили для ширины, которая от 768px до 1023px (включительно) 
    Здесь хранятся правила для устройств со средним экраном.
    Вертикальная ориентация.
*/
@media (min-width: 768px) and (max-width: 1023px) {
  .hero__portret-orientation--tablet {
    flex-direction: column;
  }

  .hero-description {
    margin-bottom: 40px;

    font-size: 25px;
    line-height: 25px;
  }
}

/* Стили для ширины, которая от 1024px до 1599px (включительно) 
    Здесь хранятся правила для устройств со средним экраном.
    Горизонтальная ориентация.
*/
@media (min-width: 1024px) and (max-width: 1599px) {
  .hero__portret-orientation--tablet {
    flex-direction: row;
  }

  .hero-title {
    margin-right: 80px;
  }

  .hero-description {
    margin-bottom: 30px;

    font-size: 20px;
    line-height: 20px;
  }
}

/* Стили для ширины, которая от 768px до 1599px (включительно) 
    Здесь хранятся правила, которые совпадают 
    и в вертикальной, и в горизонтальной ориентации 
    устройств со средним экраном.
*/
@media (min-width: 768px) and (max-width: 1599px) {
  .hero,
  .hero__portret-orientation--mobile {
    display: none;
  }

  .hero__portret-orientation--tablet {
    display: flex;

    margin: 0 150px;
    padding: 80px 0;
  }

  .hero-title {
    font-size: 80px;
    line-height: 80px;
  }

  .hero-description {
    padding: 45px 0 25px;
  }

  .hero-details {
    font-size: 15px;
  }
}

/* Стили для ширины, которая больше 1600px 
  Здесь хранятся правила для устройств с большим экраном. 
*/
@media only screen and (min-width: 1600px) {
  .hero {
    margin: 0 232px;
    padding: 120px 0;
  }

  .hero-title {
    margin-right: 160px;

    font-size: 120px;
    line-height: 120px;
  }

  .hero-description {
    margin-bottom: 30px;
    padding: 30px 0;

    font-size: 30px;
    line-height: 30px;
  }

  .hero-details {
    font-size: 20px;
  }
}

/* Стили, которые совпадают на всех устройствах и во всех ориентациях.*/
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #8d99ae;
}

.hero-title {
  font-weight: 500;
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.hero-description {
  text-align: right;

  border-bottom: 1px solid #8d99ae;
}

.hero-details {
  display: flex;
  justify-content: space-between;

  letter-spacing: 4.8px;
  font-weight: 200;
  text-transform: uppercase;

  opacity: 0.7;
}