/* Стили для ширины, которая меньше 649px (включительно) 
    Здесь хранятся правила для устройств с маленьким экраном.
    Вертикальная ориентация. 
*/
@media only screen and (max-width: 649px) {
  .skills-list__item {
    margin: 0 20px;
  }
}

/* Стили для ширины, которая от 650px до 767px (включительно) 
    Здесь хранятся правила для устройств с маленьким экраном.
    Горизонтальная ориентация. 
*/
@media (min-width: 650px) and (max-width: 767px) {
  .skills-list__item {
    margin: 0 0 0 10px;
  }

  .skills-list__item:last-child {
    margin: 0 10px;
  }
}

/* Стили для ширины, которая меньше 767px (включительно) 
    Здесь хранятся правила, которые совпадают
    и в вертикальной, и в горизонтальной ориентации 
    устройств с маленьким экраном.
*/
@media only screen and (max-width: 767px) {
  .skills {
    align-items: center;

    margin: 55px 30px 0;
  }

  .skills-title {
    font-size: 15px;
  }

  .skills-container {
    margin: 45px 0;
  }

  .skills-list__item {
    width: 200px;
    height: 250px;
  }
}

/* Стили для ширины, которая от 768px до 1023px (включительно) 
    Здесь хранятся правила для устройств со средним экраном.
    Вертикальная ориентация.
*/
@media (min-width: 768px) and (max-width: 1023px) {
  .skills-list__item {
    margin: 0 0 0 10px;
    width: 150px;
    height: 200px;
  }

  .skills-list__item:last-child {
    margin: 0 10px;
  }
}

/* Стили для ширины, которая от 1024px до 1599px (включительно) 
    Здесь хранятся правила для устройств со средним экраном.
    Горизонтальная ориентация.
*/
@media (min-width: 1024px) and (max-width: 1599px) {
  .skills-list__item {
    margin: 0 0 0 10px;
    width: 200px;
    height: 250px;
  }

  .skills-list__item:last-child {
    margin: 0 10px;
  }
}

/* Стили для ширины, которая от 768px до 1599px (включительно) 
    Здесь хранятся правила, которые совпадают 
    и в вертикальной, и в горизонтальной ориентации 
    устройств со средним экраном.
*/
@media (min-width: 768px) and (max-width: 1599px) {
  .skills {
    align-items: center;
    margin: 75px 0 0 0;
  }

  .skills-title {
    font-size: 18px;
  }

  .skills-container {
    margin: 65px 0;
  }
}

/* Стили для ширины, которая больше 1600px 
  Здесь хранятся правила для устройств с большим экраном. 
*/
@media only screen and (min-width: 1600px) {
  .skills {
    align-items: center;
    margin: 115px 0 0 0;
  }

  .skills-title {
    font-size: 20px;
  }

  .skills-container {
    margin: 100px 0 115px;
  }

  .skills-list__item {
    margin: 0 0 0 20px;
    width: 200px;
    height: 250px;
  }

  .skills-list__item:last-child {
    margin: 0 20px;
  }

  /*noinspection CssNonIntegerLengthInPixels*/
  .skills-progress-bar-container {
    margin-bottom: 115px;
  }
}

/* Стили, которые совпадают на всех устройствах и во всех ориентациях.*/

@keyframes carousel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skills {
  display: flex;
  flex-direction: column;
}

.skills-title {
  text-align: center;
  font-weight: 400;
  color: #8d99ae;
}

.skills-container {
  display: flex;
  align-items: center;
}

/*noinspection CssNonIntegerLengthInPixels*/
.skills-button__back,
.skills-button__forth {
  width: 40px;
  height: 40px;

  border-radius: 10px;
  background-color: #edf2f4;
  box-shadow: -14px -14px 22.5px 2.5px rgba(255, 255, 255, 1),
  14px 14px 22.5px 2.5px rgba(43, 45, 66, 0.07);
}

.skills-image__arrow--back,
.skills-image__arrow--forth {
  opacity: 0.3;
}

.skills-image__arrow--forth {
  transform: rotate(180deg);
}

.skills-list {
  justify-content: center;
}

/*noinspection CssNonIntegerLengthInPixels*/
.skills-list__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  text-align: center;

  border-radius: 10px;
  background-color: #edf2f4;
  box-shadow: inset -14.142px -14.142px 22.5px 2.5px #ffffff,
  inset 14.142px 14.142px 22.5px 2.5px rgba(43, 45, 66, 0.07);

  opacity: 0;
  animation: carousel 1.5s forwards;
}

.skills-list__item-link {
  padding: 0 15px;

  font-size: 15px;
}

/*noinspection CssNonIntegerLengthInPixels*/
.skills-progress-bar-container {
  display: flex;
  align-items: center;

  padding: 0 20px;
  width: 50%;
  height: 20px;

  border-radius: 15px;
  background-color: #edf2f4;
  box-shadow: -14.142px -14.142px 22.5px 2.5px #ffffff,
  14.142px 14.142px 22.5px 2.5px rgba(43, 45, 66, 0.07);
}

.skills-progress-bar-content {
  position: relative;
  
  height: 8px;

  border-radius: 5px;
  background: linear-gradient(to left, #8d99ae, #d3d7df);

  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 0.5s ease-in-out; /** Firefox **/
  -o-transition: all 0.5s ease-in-out; /** Opera **/
}

.disable {
  opacity: 0.1;
}
