/* Стили для ширины, которая меньше 649px (включительно) 
    Здесь хранятся правила для устройств с маленьким экраном.
    Вертикальная ориентация.
*/
@media only screen and (max-width: 649px) {}

/* Стили для ширины, которая от 650px до 767px (включительно) 
    Здесь хранятся правила для устройств с маленьким экраном.
    Горизонтальная ориентация.
*/
@media (min-width: 650px) and (max-width: 767px) {}

/* Стили для ширины, которая меньше 767px (включительно) 
    Здесь хранятся правила, которые совпадают
    и в вертикальной, и в горизонтальной ориентации 
    устройств с маленьким экраном.
*/

@media only screen and (max-width: 767px) {
  .header {
    margin: 30px 30px 0;
  }
}

/* Стили для ширины, которая от 768px до 1023px (включительно) 
    Здесь хранятся правила для устройств со средним экраном.
    Вертикальная ориентация.
*/
@media (min-width: 768px) and (max-width: 1023px) {}

/* Стили для ширины, которая от 1024px до 1279px (включительно) 
    Здесь хранятся правила для устройств со средним экраном.
    Горизонтальная ориентация.
*/
@media (min-width: 1024px) and (max-width: 1279px) {}

/* Стили для ширины, которая от 768px до 1279px (включительно) 
    Здесь хранятся правила, которые совпадают
    и в вертикальной, и в горизонтальной ориентации 
    устройств со средним экраном.
*/
@media (min-width: 768px) and (max-width: 1599px) {
  .header {
    margin: 50px 150px 0;
  }
}

/* Стили для ширины, которая больше 650px (включительно) 
    Здесь хранятся правила, которые совпадают
    в горизонтальной ориентации устройств с маленьким экраном,
    в вертикальной, и в горизонтальной ориентации устройств со средним экраном, 
    а так же с устройствами с большим экраном.
*/
@media only screen and (min-width: 650px) {}

/* Стили для ширины, которая больше 1280px 
  Здесь хранятся правила для устройств с большим экраном.
*/
@media only screen and (min-width: 1600px) {
  .header {
    margin: 80px 300px 0;
  }
}

/* Стили, которые совпадают на всех устройствах и во всех ориентациях.*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
