/* Стили для ширины, которая меньше 649px (включительно) 
    Здесь хранятся правила для устройств с маленьким экраном.
    Вертикальная ориентация.
*/
@media only screen and (max-width: 649px) {
  .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border-radius: 10px;
    background-color: #edf2f4;
    box-shadow: -14px -14px 22.5px 2.5px rgba(255, 255, 255, 1),
      14px 14px 22.5px 2.5px rgba(43, 45, 66, 0.07);
  }

  .menu-button__icon--dots,
  .menu-button__icon--cross {
    position: absolute;

    opacity: 0.3;
  }
}

/* Стили для ширины, которая от 650px до 767px (включительно) 
    Здесь хранятся правила для устройств с маленьким экраном.
    Горизонтальная ориентация.
*/
@media (min-width: 650px) and (max-width: 767px) {}

/* Стили для ширины, которая меньше 767px (включительно) 
    Здесь хранятся правила, которые совпадают
    и в вертикальной, и в горизонтальной ориентации 
    устройств с маленьким экраном.
*/

@media only screen and (max-width: 767px) {}

/* Стили для ширины, которая от 768px до 1023px (включительно) 
    Здесь хранятся правила для устройств со средним экраном.
    Вертикальная ориентация.
*/
@media (min-width: 768px) and (max-width: 1023px) {}

/* Стили для ширины, которая от 1024px до 1279px (включительно) 
    Здесь хранятся правила для устройств со средним экраном.
    Горизонтальная ориентация.
*/
@media (min-width: 1024px) and (max-width: 1279px) {}

/* Стили для ширины, которая от 768px до 1279px (включительно) 
    Здесь хранятся правила, которые совпадают
    и в вертикальной, и в горизонтальной ориентации 
    устройств со средним экраном.
*/
@media (min-width: 768px) and (max-width: 1279px) {}

/* Стили для ширины, которая больше 650px (включительно) 
    Здесь хранятся правила, которые совпадают
    в горизонтальной ориентации устройств с маленьким экраном,
    в вертикальной, и в горизонтальной ориентации устройств со средним экраном, 
    а так же с устройствами с большим экраном.
*/
@media only screen and (min-width: 650px) {
  .menu-button {
    display: none;
  }
}

/* Стили для ширины, которая больше 1280px 
  Здесь хранятся правила для устройств с большим экраном.
*/
@media only screen and (min-width: 1280px) {}

/* Стили, которые совпадают на всех устройствах и во всех ориентациях.*/
