/* Стили для ширины, которая меньше 649px (включительно) 
    Здесь хранятся правила для устройств с маленьким экраном.
    Вертикальная ориентация.
*/
@media only screen and (max-width: 649px) {
  .menu-list {
    display: none;
  }

  .menu-list__mobile--active {
    position: absolute;
    z-index: 1;
    top: 109px;
    left: 30px;
    right: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 321px;
    padding: 70px 32px;
    /*width: 100%;*/

    border-radius: 0 0 10px 10px;
    background-color: #edf2f4;
    box-shadow: 14px 14px 22.5px 2.5px rgba(43, 45, 66, 0.09);
  }

  .menu-list__item--mobile {
    font-size: 18px;
  }

  .menu-list__item--mobile:nth-last-child(n+2) {
    margin-bottom: 30px;
  }

  .menu-list__mobile--inactive {
    display: none;
  }
}

/* Стили для ширины, которая от 650px до 767px (включительно) 
    Здесь хранятся правила для устройств с маленьким экраном.
    Горизонтальная ориентация.
*/
@media (min-width: 650px) and (max-width: 767px) {
  .menu-list__item {
    font-size: 15px;
  }

  .menu-list__item:nth-last-child(n+2) {
    margin-right: 20px;
  }
}

/* Стили для ширины, которая меньше 767px (включительно) 
    Здесь хранятся правила, которые совпадают
    и в вертикальной, и в горизонтальной ориентации 
    устройств с маленьким экраном.
*/

@media only screen and (max-width: 767px) {}

/* Стили для ширины, которая от 768px до 1023px (включительно) 
    Здесь хранятся правила для устройств со средним экраном.
    Вертикальная ориентация.
*/
@media (min-width: 768px) and (max-width: 1023px) {}

/* Стили для ширины, которая от 1024px до 1599px (включительно) 
    Здесь хранятся правила для устройств со средним экраном.
    Горизонтальная ориентация.
*/
@media (min-width: 1024px) and (max-width: 1599px) {}

/* Стили для ширины, которая от 768px до 1599px (включительно) 
    Здесь хранятся правила, которые совпадают
    и в вертикальной, и в горизонтальной ориентации 
    устройств со средним экраном.
*/
@media (min-width: 768px) and (max-width: 1599px) {
  .menu-list__item {
    font-size: 15px;
  }

  .menu-list__item:nth-last-child(n+2) {
    margin-right: 20px;
  }
}

/* Стили для ширины, которая больше 1600px 
  Здесь хранятся правила для устройств с большим экраном.
*/
@media only screen and (min-width: 1600px) {
  .menu-list__item {
    font-size: 20px;
  }

  .menu-list__item:nth-last-child(n+2) {
    margin-right: 40px;
  }
}

/* Стили, которые совпадают на всех устройствах и во всех ориентациях.*/
.menu-list__item {
  color: #8d99ae;
}